{{#unless isAuthenticated}}
  <h1>EzSpeaky!</h1>
{{else}}
  <h1>Encourage your kid to EZSpeaky!</h1>
  <br>
  <p>Cleft lip and cleft palate can cause obstacles to a proper speech. But here is a
    path to develop good speech habits as well as to learn how to produce sounds correctly.</p>
    <br>
    <p>This guide is divided in three different missions, follow the below directions and have a happy EzSpeaky!</p>
    <ul>
      <li>Click on each of the therapies to access videos that will guide you through exercises, and activities.</li>
      <li>Use the comment box to record progress or things to look at in the next practice.</li>
      <li>Enjoy and make it enjoyable for your kid!</li>
    </ul>
  <h2>{{#link-to 'therapies'}}Start My Speaky Missions!{{/link-to}}</h2>
{{/unless}}
