<h1 class="titles">Speaky Missions</h1>
<ul>
  {{#each model.therapies as |therapy|}}
    <li>
      {{#link-to 'therapies.therapy' therapy}}{{therapy.title}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
