<h2>Speaky Missions</h2>
<h4>{{model.mission}}</h4>
<h4>{{model.mission2}}</h4>
<h4>{{model.mission3}}</h4>

{{!-- <ul>
{{#each model as |speakyMission|}}
  <li>{{speakyMission.vocalization}}</li>
{{/each}}
</ul> --}}
