<h1>Speech Emission</h1>
<p>Before attempting to decrease nasality, the child needs to be made aware of the difference between nasality and normal speech and resonance. This can be done as follows:</p>
<ol>
  <li>Have the child listen to recordings of normal speech and nasal speech, and identify each.</li>
  <li>Simulate oral and nasal speech and have the child identify normal versus abnormal.</li>
</ol>
<p>Use the videos below to guide proper speech emissions and use the comment box to record your progress.</p>
<ul>
{{#each model as |speechEmission|}}
  <li>{{speechEmission}}</li>
{{/each}}
</ul>
{{#create-comment newComment=model createComment="createComment"}}{{/create-comment}}
